doctype
html
  head
    title #{title} - HyCloud
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 HyCloud
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p ITConic HyCloud - Powered by Amazon